p {
    width: 80%;
    text-align: center;
    font-size: 2em;
    font-weight: 900;
    line-height: 1.1;
    text-shadow: 2px 2px #3f744a73;
}

img {
    border-radius: .5em;
    width: 80%;
    height: auto;
}

.div-item {
    width: 50%;
    height: auto;
}

.margin {
    margin-top: 150px;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    img {
        width: 80%;
        height: auto;
    }

    p {
        width: 95%;
    }

    .div-item {
        margin-top: 2em;
        width: 100%;
        height: auto;
    }

    .scroll {
        max-height: 100%;
        overflow-y: auto;
    }
}
